<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Remove extensão .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ $1.php [L]

    # Permite /posts/3 → posts.php?id=3
    RewriteRule ^([^/]+)/([0-9]+)/?$ $1.php?id=$2 [L]
</IfModule>
